.lfr-object__edit-object-definition {
	.data-set .management-bar-wrapper,
	> .lfr-tooltip-scope,
	.page-header {
		position: sticky;
		z-index: 1;
	}

	.data-set {
		.management-bar-wrapper {
			top: 168px;
		}
	}

	> .lfr-tooltip-scope {
		top: 56px;
	}

	.management-bar {
		.container-fluid {
			max-width: 1920px !important;
		}
	}

	.navbar {
		position: relative !important;
	}

	.page-header {
		top: 120px;
	}

	&.publication {
		& > .lfr-tooltip-scope {
			top: 80px;
		}

		.data-set .management-bar-wrapper {
			top: 192px;
		}

		.lfr-objects__object-definition-details-management-toolbar {
			.lfr__management-toolbar {
				margin-top: 24px;
			}
		}

		.page-header {
			top: 144px;
		}
	}
}

#portlet_com_liferay_object_web_internal_list_type_portlet_portlet_ListTypeDefinitionsPortlet {
	.management-bar {
		.container-fluid {
			max-width: 1920px !important;
		}
	}
}
