<li class="align-items-center d-flex faq flex-column mb-3 w-100">
	<div class="align-items-center content-area d-flex justify-content-between m-0 py-3 row w-100">
		<div class="col-11 font-weight-bolder h4 m-0 text-neutral-10" data-lfr-editable-id="title-text" data-lfr-editable-type="text">
			Frequently asked question about something related to Marketplace?
		</div>

		<img alt="Plus icon" class="col-1 custom-icon px-0" id="plus-icon" src="[resources:plus.svg]" />

		<img alt="Minus icon" class="col-1 custom-icon d-none px-0" id="minus-icon" src="[resources:minus.svg]" />
	</div>

	<div class="col-12 collapse content-area text-neutral-8 w-100" id="faq-list">
		<lfr-drop-zone></lfr-drop-zone>
	</div>
</li>